/* ------------------------------------------------------------------------ */
/* Media Queries
/* ------------------------------------------------------------------------ */
	
	/* ------------------------------------------------------------------------ */
	/* Smaller than standard 960 (devices and browsers) */
	/* ------------------------------------------------------------------------ */
	@media only screen and (max-width: 959px) {

		.google_map {width:100% !important;}
		
		#reply input#submit{
			margin: 0 !important;
		}
		
		#boxed-layout {
		    width: auto;
		    margin: 0 !important;
		    padding: 0 !important;
		    border: none;
		}
		
		    #boxed-layout .wrapper {
		        padding-left: 0 !important;
		        padding-right: 0 !important;
		    }
		
		#background {
		    display: none;
		}
							
		.counter-circle-wrapper {
			margin-bottom:20px;
		}
		.counters-circle .counter-circle-wrapper:last-child {
			margin-bottom:0;
		}
				
	}
	
	/* ------------------------------------------------------------------------ */
	/* Tablet Portrait size to standard 960 (devices and browsers) / 1. Step */
	/* ------------------------------------------------------------------------ */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#header-searchform{
			display: none;
		}	
			
		#no-heading-divider {
			margin-top: -90px !important;
		}
		
		.no-socket #no-heading-divider {
			margin-top: -150px !important;
		}
		
		.no-socket #no-heading {
			margin-top: 0px !important;
		}
		
		.entry-content {
		    width: 454px;
		}
		
		.blog-medium .entry-content {
		    width: 216px;
		}
		
		#contributor-info .contributor-bio {
        	width: 340px;
        }
        
        #reply-inputs p{
	    	width: 556px;
	    	margin:0 0 20px 0 !important;
	    	float: none;
	    }
	    #reply-inputs input{
		    width: 538px;
	    }
	    
	    #reply-textarea textarea{
		    width: 538px;
	    }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.four {
		    width: 364px !important;
		    height: 242px;
		}

		    .portfolio-post.four img {
		        width: 364px;
		        height: 242px;
		    }
		    
		    .portfolio-post.four .portfolio-overlay {
		        width: 364px;
		        height: 242px;
		    }



			.latest-portfolio .portfolio-post.four .portfolio-it {
				height:auto;
			}
		
			.latest-portfolio .portfolio-post.four img {
		        width: 100%;
		        height: 230px;
		    }
			
			.latest-portfolio .portfolio-post.four .portfolio-embed {
				width: 100%;
				height: 230px;
				margin: 0 auto;
			}

			.latest-portfolio .portfolio-post.four .portfolio-overlay {
		        width: 100%;
		        height: 100%;
		    }
		
		.portfolio-post.four .portfolio-overlay .overlay-link,
        .portfolio-post.four .portfolio-overlay .overlay-lightbox {    left: 157px }
		
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.one-third {
		    width: 236px;
		    height: 155px;
		}
		
		    .portfolio-post.one-third img {
		        width: 236px;
		        height: 155px;
		    }

			.portfolio-post.one-third .portfolio-overlay {
				width: 236px;
				height:155px;
			}

			.latest-portfolio .portfolio-post.one-third .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.one-third .portfolio-overlay {
				width: 100%;
				height: 100%;
			}

			.latest-portfolio .portfolio-post.one-third img {
				width:100%;
				height:155px;
			}
		    
		.portfolio-post.one-third .portfolio-overlay .overlay-link,
        .portfolio-post.one-third .portfolio-overlay .overlay-lightbox {    left: 93px }
		

		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.eight {
		    width: 364px;
		    height: 237px;
		}
		
		    .portfolio-post.eight img {
		        width: 364px;
		        height: 237px;
		    }

			.latest-portfolio .portfolio-post.eight .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.eight .portfolio-overlay {
				width: 100%;
				height: 100%;
			}

			.latest-portfolio .portfolio-post.eight img {
				width:100%;
				height:255px;
			}

			.portfolio-post.eight .portfolio-overlay {
				width:100%;
				height:255px;
			}
		    
		    .portfolio-post.eight .portfolio-overlay .overlay-link,
		    .portfolio-post.eight .portfolio-overlay .overlay-lightbox {    left: 156px !important; margin: -5px 0 0 0; }
		

		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post-one .portfolio-desc{
			width: 258px;
		}
		.portfolio-post-one h4{
			margin-top:0;
		}
		.portfolio-post-one .button{
			padding: 10px 14px;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Widgets */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.widget_portfolio .portfolio-widget-item .portfolio-pic{
			width: 40px;
			height:40px;
		}
		
		.widget_search input{
			width:133px;
		}
		#wp-calendar tbody td,
		#wp-calendar thead th,
		#wp-calendar caption {
            padding: 0;
        }
	
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Shortcodes */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
		.pricing-table{
			width: 748px;
		}
		
		.pricing-table.col-2 .plan{
			width:372px;
		}
		.pricing-table.col-3 .plan{
			width:248px;
		}
		.pricing-table.col-4 .plan{
			width:186px;
		}
		.pricing-table.col-5 .plan{
			width:148px;
		}
		
		.latest-blog .blog-item .blog-pic img{
			width:172px;
			height:112px;
		}
		.latest-blog .blog-item h4{
			font-size: 13px;
		}
		
		.latest-blog .blog-item .entry-icon{
			left:61px;
			top:31px !important;
		}
		.counter-circle-wrapper {
			margin-bottom:20px;
		}
		.counters-circle .counter-circle-wrapper:last-child {
			margin-bottom:0;
		}
	}
	
	/* ------------------------------------------------------------------------ */
	/* All Mobile Sizes (devices and browser) / all under Tablet */
	/* ------------------------------------------------------------------------ */
	@media only screen and (max-width: 767px) {

		#socket{
			height:69px;
		}
		
		#socket.no-social{
			height:30px;
			border: none;
		}
		
		#socket .text-input{
			height:30px;
			line-height: 30px;
			width:100%;
			padding:0px 0px;
			text-align: center;
			background: #efefef;
			margin:0px 0 0 0 !important;
		}	
		#socket .sociable-ico, #socket .sociable-ico ul{
			text-align: center;
			width: 100%;
			font-size:0;
		}
		#socket .sociable-ico ul li{
			display: inline-block;
			text-align: center;
			float: none;
		}	
				
		#no-heading {
			margin-top: 0 !important; 
			padding: 0;
		}
		
		#no-heading-divider {
			margin-top: -160px !important;
			padding:0;
		}
									
		.no-socket #no-heading {
			margin-top: 0px !important;
		}
			
		#header .logo{
			text-align: center;
			margin:20px 0 20px 0 !important;
		}
		
		#header .logo img{
			max-width: 100%;
		}
		
		#nav ul, #header-searchform{
			display:none;
		}
											 					
		.tp-caption,
		.tp-rightarrow.default,
		.tp-leftarrow.default{
			display:none !important;
		}
		
		#nav .select-menu{
			display: inherit;
			width:100%;
			padding:8px;
		}	

		html body #header,
		html body #header-v2,
		html body #header-v3,
		html body #header-v4,
		html body #header-v5{
			height: auto !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		
		html body .header-v2-wrapper,
		html body .header-v4-wrapper,
		html body .header-v5-wrapper{
			height: auto !important;
		}
		
		html body #header .logo,
		html body #header-v2 .logo,
		html body #header-v3 .logo,
		html body #header-v4 .logo,
		html body #header-v5 .logo{
			text-align: center;
			margin:25px 0 25px 0 !important;
		}
		.logo img{
			max-width: 100%;
		}
		
		#header #nav ul,
		#header-v2 #nav ul,
		#header-v3 #nav ul,
		#header-v4 #nav ul,
		#header-v5 #nav ul{
			display:none;
		}
		#header #header-searchform,
		#header-v2 #header-searchform,
		#header-v3 #header-searchform,
		#header-v4 #header-searchform,
		#header-v5 #header-searchform{
			display:none;
		}
		#header-v2 .slogan,
		#header-v4 .slogan,
		#header-v5 .slogan{
			display:none;
		}
		
		#header-v2 #nav,
		#header-v3 #nav,
		#header-v4 #nav,
		#header-v5 #nav{
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
			background: none !important;
		}
		
		#header #nav .select-menu,
		#header-v2 #nav .select-menu,
		#header-v3 #nav .select-menu,
		#header-v4 #nav .select-menu,
		#header-v5 #nav .select-menu{
			display: inherit !important;
			width:100% !important;
			padding:8px !important;
		}
		.flexslider {
			margin:0;
		}
		#breadcrumbs{
			display: none;  /* RETHINK THIS */
		}
			#no-title #breadcrumbs{
				display: block;
			}
		
		#sidebar{
			margin-top:40px;
		}
		
		#back-to-top{
			display: none !important;
		}
		
		#footer .widget,
		#infobar .widget{
			margin-bottom:20px;
		}
		
		#copyright{
			text-align: center;
			padding:0 !important;
			margin: 0 !important;
		}
		
		#copyright .sociable-ico, #topbar .sociable-ico ul{
			text-align: center;
			width: 100%;
			font-size:0;
			padding:0;
			margin: 0;
		}
		#copyright .sociable-ico ul li{
			display: inline-block;
			text-align: center;
			float: none;
		}
		
		#filter ul li {
            display: block;
            float: none;
        }
        
        #filter ul li a {
            display: block;
            float: none;
            border: none;
            border-bottom: 1px solid #dddddd;
        }
        
        #filter ul li:last-child a{
	        border: none;
        }
        
        #portfolio-slider .overlay{
	        display: none;
        }
        
        .callout .callout-button{
			float: none;
			width: 100%;
			margin: 0 0 20px 0 !important;
		}
		.callout .callout-button a.button{
			display: block;
		}
		
		.callout .callout-content{
			float: none;
			width: 100%;
			text-align: center;
		}
		
		.teaserbox{
			text-align: center;
		}
		.teaserbox a.button{
			display: block;
		}
		
		.tab {
		    float: none;
		    display: block;
		    margin: 0 0 -1px 0;
		}
		
		.tab a.selected{
			border-bottom-color: #d3d3d3;
		}
		
		.panel div{
			max-width: 100%;
		}
		
		.one_half,
		.one_third,
		.two_third,
		.three_fourth,
		.one_fourth,
		.one_fifth,
		.two_fifth,
		.three_fifth,
		.four_fifth,
		.one_sixth,
		.five_sixth {
			position: relative;
			margin-right: 4%;
			margin-bottom: 20px;
			float: left;
}
	}

	/* ------------------------------------------------------------------------ */
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) 2. Step */
	/* ------------------------------------------------------------------------ */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
			
		.gallery-wrap{
			margin:0 0 -20px 0;
		}
		.latest-blog, .negative-wrap{
			margin:0 0px 0 0px;
		}
		
		.counter-circle-wrapper {
			margin-bottom:20px;
		}
		.counters-circle .counter-circle-wrapper:last-child {
			margin-bottom:0;
		}
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.entry-content {
		    width: 310px;
		}
		
		.entry-meta span{
			display: block;
			margin:0 0 5px 0;
		}
		
		.blog-medium .entry-content {
		    width: 420px;
		}
		
		.blog-medium .entry-video,
		.blog-medium .entry-gallery,
		.blog-medium .entry-image,
		.blog-medium .entry-quote,
		.blog-medium .entry-audio,
		.blog-medium .entry-link {
		    width: 420px;
		}
		
		.blog-medium .entry-gallery img,
		.blog-medium .entry-image img {
			width: 100%;
			height: auto;
		}
		
		#contributor-info{
			margin: 0;
		}
		
		#contributor-info .contributor-bio {
        	float: left;
        	width: 313px;
        }
		
		.share{
			margin: 0 0 30px 0;
		}
		.share h4 {
			display: none;
	    }
	    
		#related-posts, .comments {margin-left:0;}

	    #reply-inputs p{
	    	width: 420px;
	    	margin:0 0 20px 0 !important;
	    	float: none;
	    }
	    #reply-inputs input{
		    width: 403px;
	    }
	    
	    #reply-textarea textarea{
		    width: 403px;
	    }

	    
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-wide #portfolio-slider,
		.portfolio-wide #portfolio-video,
		.portfolio-sidebyside #portfolio-slider,
		.portfolio-sidebyside #portfolio-video { 
			margin: 0 0 30px 0;
		}
		
		#portfolio-related-post h3{
			margin-left:0px;
			margin-right:0px;
		}
		
		.projects-nav{
			display: none;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.four {
		    width: 420px !important;
		    height: 274px;
		    margin-bottom:20px;
		}
		
		    .portfolio-post.four img {
		        width: 420px;
		        height: 274px;
		    }
		    
		    .portfolio-post.four .portfolio-overlay {
		        width: 420px;
		        height: 274px;
		    }

			.latest-portfolio .portfolio-post.four .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.four .portfolio-overlay {
				width: 100%;
				height: 100%;
			}

			.latest-portfolio .portfolio-post.four img {
				width:100%;
				height:274px;
			}
			
			.latest-portfolio .portfolio-post.four .portfolio-embed {
				width: 100%;
				height: 274px;
				margin: 0 auto;
			}
		
		.portfolio-post.four .portfolio-overlay .overlay-link,
        .portfolio-post.four .portfolio-overlay .overlay-lightbox {    left: 185px; margin: -5px 0 0 0; }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.one-third {
		    width: 420px !important;
		    height: 274px !important;
		    margin-bottom:20px;
		}
		
		    .portfolio-post.one-third img {
		        width: 420px !important;
		        height: 274px !important;
		    }
		    
			.portfolio-post.one-third .portfolio-overlay {
				width: 420px;
				height: 274px;
			}
		    
		.latest-portfolio .portfolio-post.one-third {
		    height: 347px !important;
		}

			.latest-portfolio .portfolio-post.one-third .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.one-third .portfolio-overlay {
				width:100%;
				height: 100%;
			}

			.latest-portfolio .portfolio-post.one-third img {
				width:100% !important;
				height:268px !important;
			}

		.portfolio-post.one-third .portfolio-overlay .overlay-link,
        .portfolio-post.one-third .portfolio-overlay .overlay-lightbox {    left: 185px; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */		
		
		.portfolio-post.eight {
		    width: 420px;
		    height: 274px;
		    margin-bottom:20px;
		}
		
		    .portfolio-post.eight img {
		        width: 420px;
		        height: 274px;
		    }

			.portfolio-post.eight .portfolio-overlay {
				width:420px;
				height:274px;
			}

			.latest-portfolio .portfolio-post.eight .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.eight img {
				width:100%;
				height:268px;
			}

			.latest-portfolio .portfolio-post.eight .portfolio-overlay {
				width: 100%;
				height: 100%;
			}
		    
		    .portfolio-post.eight .portfolio-overlay .overlay-link,
		    .portfolio-post.eight .portfolio-overlay .overlay-lightbox {    left: 185px !important; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post-one{
			margin-bottom: 40px !important;
		}
		
		.portfolio-post-one .portfolio-picwrap,
		.portfolio-post-one .portfolio-picwrap img{
			width: 420px;
			height:228px;
		}
		
		.portfolio-post-one .portfolio-picwrap,
		.portfolio-post-one .portfolio-desc{
			width: 420px;
			clear: both;
			float: none !important;
		}
		.portfolio-post-one .portfolio-picwrap .portfolio-overlay .overlay-link,
		.portfolio-post-one .portfolio-picwrap .portfolio-overlay .overlay-lightbox { left: 185px; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Widgets */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.widget_search input{
			width:379px;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Shortcodes */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.pricing-table{
			width: 420px;
			padding: 20px 0 0 0;
		}
		
		.pricing-table.col-2 .plan,
		.pricing-table.col-3 .plan,
		.pricing-table.col-4 .plan,
		.pricing-table.col-5 .plan{
			width:418px;
			margin-bottom:20px;
		}	
		
		.pricing-table .featured{
			margin-top:0;
		}
		
		.latest-blog .blog-item{
			margin-bottom: 20px;
		}
		
		.latest-blog .blog-item .blog-pic img{
			width:420px;
			height:273px;
		}
		
		.latest-blog .blog-item .blog-overlay{
			width:420px;
			height:273px;
		}
		
		.latest-blog .blog-item h4{
			font-size: 13px;
		}
		
		.latest-blog .blog-item .entry-icon{
			left:185px;
			top:111px !important;
		}
		.counter-circle-wrapper {
			margin-bottom:20px;
		}
		.counters-circle .counter-circle-wrapper:last-child {
			margin-bottom:0;
		}
		
	}
	
	/* ------------------------------------------------------------------------ */
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 3. Step */
	/* ------------------------------------------------------------------------ */
	@media only screen and (max-width: 479px) {
		
		#no-heading-divider {
			margin-top: -160px !important;
			padding:0;
		}
		
		.gallery-wrap{
			margin:0 0 -20px 0;
		}
		.latest-blog, .negative-wrap{
			margin:0 0px 0 0px;
		}
		
		.sidenav:after {
		    display: none;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

		.entry-side-meta {float:none; width:100%;}

		.entry-side-meta .entry-meta {overflow:hidden;}

		.entry-side-meta .entry-meta span {float:left; margin-right:15px;}
		
		.entry-content {
		    width: 300px;
			float:none;
		}
		
		.entry-meta span{
			display: block;
			margin:0 0 5px 0;
		}
		
		.blog-medium .entry-content {
		    width: 300px;
		}
		
		.blog-medium .entry-video,
		.blog-medium .entry-gallery,
		.blog-medium .entry-image,
		.blog-medium .entry-quote,
		.blog-medium .entry-audio,
		.blog-medium .entry-link {
		    width: 300px;
		}
		
		.blog-medium .entry-gallery img,
		.blog-medium .entry-image img {
			width: 100%;
			height: auto;
		}
		
		#contributor-info{
			margin: 0;
		}
		
		#contributor-info .contributor-bio {
        	float: left;
        	width: 193px;
        }
        
        .share{
			margin: 0 0 30px 0;
		}
		.share h4 {
			display: none;
	    }

		#related-posts, .comments {margin-left:0;}
	    
	    #reply-inputs p{
	    	width: 300px;
	    	margin:0 0 20px 0 !important;
	    	float: none;
	    	background: yellow;
	    }
	    #reply-inputs input{
		    width: 282px;
	    }
	    
	    #reply-textarea textarea{
		    width: 282px;
	    }

		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-wide #portfolio-slider,
		.portfolio-wide #portfolio-video,
		.portfolio-sidebyside #portfolio-slider,
		.portfolio-sidebyside #portfolio-video { 
			margin: 0 0 30px 0;
		}
		
		#portfolio-related-post h3{
			margin-left:0px;
			margin-right:0px;
		}
		
		.projects-nav{
			display: none;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.four {
		    width: 300px !important;
		    height: 204px;
		    margin-bottom:20px;
		}

		.latest-portfolio .portfolio-post.four {
		    width: 300px !important;
		    height: 262px;
		    margin-bottom:20px;
		}

			.portfolio-post.four img {
		        width: 300px;
		        height: 204px;
		    }
		    
		    .portfolio-post.four .portfolio-overlay {
		        width: 300px;
		        height: 204px;
		    }

			.latest-portfolio .portfolio-post.four .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.four .portfolio-overlay {
		        width: 100%;
		        height: 100%;
			}

			.latest-portfolio .portfolio-post.four img {
		        width: 100%;
		        height: 185px;
			}
			
			.latest-portfolio .portfolio-post.four .portfolio-embed {
				width: 100%;
				height: 185px;
				margin: 0 auto;
			}
		
		.portfolio-post.four .portfolio-overlay .overlay-link,
        .portfolio-post.four .portfolio-overlay .overlay-lightbox {    left: 125px; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.one-third {
		    margin-bottom:20px;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post.eight {
		    width: 300px;
		    height: 196px;
		    margin-bottom:20px;
		}
		
		    .portfolio-post.eight img {
		        width: 300px;
		        height: 196px;
		    }

			.portfolio-post.eight .portfolio-overlay {
				width:300px;
				height:196px;
			}

			.latest-portfolio .portfolio-post.eight .portfolio-it {
				height:auto;
			}

			.latest-portfolio .portfolio-post.eight img {
				width:100%;
				height:192px;
			}

			.latest-portfolio .portfolio-post.eight .portfolio-overlay {
				width:100%;
				height:100%;
			}
		    
		    .portfolio-post.eight .portfolio-overlay .overlay-link,
		    .portfolio-post.eight .portfolio-overlay .overlay-lightbox {    left: 125px !important; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.portfolio-post-one{
			margin-bottom: 40px !important;
		}
		
		.portfolio-post-one .portfolio-picwrap,
		.portfolio-post-one .portfolio-picwrap img{
			width: 300px;
			height:163px;
		}
		
		.portfolio-post-one .portfolio-picwrap,
		.portfolio-post-one .portfolio-desc{
			width: 300px;
			clear: both;
			float: none !important;
		}
		
		 .portfolio-post-one .portfolio-picwrap .portfolio-overlay .overlay-link,
		 .portfolio-post-one .portfolio-picwrap .portfolio-overlay .overlay-lightbox { left: 125px; margin: -5px 0 0 0 }
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Widgets */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.widget_search input{
			width:258px;
		}
		
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		/* Shortcodes */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.pricing-table{
			width: 300px;
			padding: 20px 0 0 0;
		}
		
		.pricing-table.col-2 .plan,
		.pricing-table.col-3 .plan,
		.pricing-table.col-4 .plan,
		.pricing-table.col-5 .plan{
			width:298px;
			margin-bottom:20px;
		}	
		
		.pricing-table .featured{
			margin-top:0;
		}
		
		.latest-blog .blog-item{
			margin-bottom: 20px;
		}
		
		.latest-blog .blog-item .blog-pic img{
			width:300px;
			height:195px;
		}
		
		.latest-blog .blog-item .blog-overlay{
			width:300px;
			height:195px;
		}
		
		.latest-blog .blog-item h4{
			font-size: 13px;
		}
		
		.latest-blog .blog-item .entry-icon{
			left:125px;
			top:72px !important;
		}
		
	}
	
	/* ------------------------------------------------------------------------ */
	@media only screen and (min-width: 960px) {
	/* ------------------------------------------------------------------------ */
		.flex-direction-nav .flex-next {right: -40px; *right:0;}
		.flex-direction-nav .flex-prev {left: -40px; *left: 0;}
		
		.tp-simpleresponsive > ul li {
 			 width:100%;
 	}
	
/* ------------------------------------------------------------------------ */
/* EOF
/* ------------------------------------------------------------------------ */